Flask==3.0.3
psycopg2-binary>=2.9.10
python-dotenv==1.0.1
flask-socketio==5.3.6

eventlet==0.35.2
gunicorn==22.0.0
reportlab>=4.0.0
svglib>=1.5.0
pywebpush>=1.14.0
google-auth>=2.23.0
requests>=2.31.0
